@media only screen and (min-width: 200px) and (max-width: 575px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }
    .headerLeft{
        justify-content: center;
    }
    .logo{
        padding: 10px;

    }
    .headerAddress{
        padding: 10px;
    }
    .headerAddress p {
        font-size: 12px;
    }
    .searchBox button{
        padding: 10px;
    }
    .headerBtn{
        position: fixed;
        width: 100%;
        margin-right: 0px;
        justify-content:center;
        bottom: 0px;
    }
    footer{
        padding-top:0;
    }
    .footer-mid-row1{
        flex-direction: column;

    }

}